// Tittle font
ion-card-title {
    font-family: "Righteous";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 37px;
  }
  
  // Make page fit fullscreen and elements equaly separated
  ion-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    margin: 20px;
  }
  
  // Gap between card tiems
  .card-gap {
    gap: 20px;
  }
  
  // Dont show shadow on Cards for cleaner look
  .no-shadow {
    box-shadow: none !important;
  }
  
  // Taks are full width and centered
  ion-card-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
    padding: 0;
  }
  
  // Style and font for each section of task
  .task-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    padding: 10px 10px;
    // Line beetween header and content
    border-bottom: 1px solid #0009E7;
  }
  
  .task-subtitle {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    margin: 5px 10px;
    min-width: 35px;
  }
  
  .task-content {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
  
  ion-footer{
      width: 100%;
  }
  
  ion-toolbar{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-content: flex-start;
      margin: auto;
  
      width: 100%;
  
      --border-width: 0 !important;
  }
  
  .add-button{
      margin: auto;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  
  ion-fab-button{
      margin: auto;
      --box-shadow: none !important;
  }