<!-- Main - Landing page when logged in  -->
<!-- ionic generate page Main -->
<!-- App is fullscrean and it is one page only without scroll -->
<ion-content [fullscreen]="true" scroll-y="false">
  <!-- Card has drop shadow and border by default -->
  <ion-card class="card-gap no-shadow ion-no-padding ion-margin-vertical">
    <!-- Header with app Tittle -->
    <ion-card-header>
      <!-- All caps text & Center text -->
      <ion-card-title class="ion-text-center">
        <ion-text color="task-white"> Add new task </ion-text>
      </ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>
